$flex-display: flex;
$fixed: fixed;
$d-block: block;

// flex
%flex-display {
    display: $flex-display;
    align-items: center;
    justify-content: space-between;
}

%flex-display-1 {
    display: $flex-display;
    flex-direction: column;
    align-items: center;
}

%flex-display-2 {
    display: $flex-display;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
